:root {
    --primary: #f44336;
}
.lightTheme {
    --primary-color: var(--primary);
    --bg-color: #FFFFFF;
    --secondaryBg-color: #EEEEEE;
}
.darkTheme {
    --primary-color: var(--primary);
    --bg-color: #000000;
    --secondaryBg-color: #212121;
}
svg {
    fill: var(--bg-color);
    stroke: var(--bg-color);
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
    background-color: var(--secondaryBg-color);
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondaryBg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1565C0;
}

.buttonIcon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--bg-color);
}
.buttonIcon svg {
    width: 20px;
    height: 20px;
}

.boarding {
    position: fixed;
    z-index: 4;
}
#boardingImageShare {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#boardingImageUpload {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#mainContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: var(--secondaryBg-color);
}

#refresh {
    height: 25px;
    margin-left: auto;
}
#refresh:focus,
#refresh:hover {
    cursor: pointer;
}
.rotateAnime {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes rotate {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


#settingsButton {
    margin-left: 30px;
    margin-right: 5px;
}
#settingsButton:focus,
#settingsButton:hover {
    cursor: pointer;
}
#searchDiv {
    left: 0;
    right: 0;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 70px;
    background-color: var(--bg-color);
    border-radius: 2px;
}
#searchImg {
    width: 20px;
    height: 20px;
    margin: 5px;
}
#searchInput {
    position: absolute;
    display: inline-block;
    height: auto;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    color: #9e9e9e;
    background-color: rgb(0, 0, 0, 0);
}
#searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondaryBg-color);
}
#searchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondaryBg-color);
}
#searchInput::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondaryBg-color);
}
#searchInput:focus {
    outline: none;
}

#svgDiv svg {
    width: 20px;
    height: 20px;
}

#userFiles {
    left: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    background-color: var(--bg-color);
    border-radius: 3px;
}
/* add Text container */
.container {
    position: fixed;
    display: none;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: var(--secondaryBg-color);
}
.containerHeading {
    color: var(--bg-color);
    font-size: 24px;
    margin: auto;
    margin-left: 0;
}

#addTextText {
    position: fixed;
    left: 0;
    right: 0;
    height: auto;
    padding: 5px;
    margin: 5px;
    margin-top: 55px;
    overflow-y: scroll;
}
#addTextTitle {
    display: flex;
    flex-flow: wrap;

}
#addTextTitleA {
    margin-left: 10px;
    margin-top: 10px;
    color: var(--primary-color);
    display: block;
}
#addTextTitleTextArea {
    color: var(--primary-color);
    border: none;
    height: auto;
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    resize: none;
}
#addTextTitleTextArea:focus {
    outline: none;
}
#addTextDescription {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
#addTextDescriptionA {
    margin-left: 10px;
    margin-top: 10px;
    color: var(--primary-color);
    display: block;
}
#addTextDescriptionTextArea {
    color: var(--primary-color);
    border: none;
    background-color: var(--bg-color);
    border-radius: 3px;
    height: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    resize: vertical;
}
#addTextDescriptionTextArea:focus {
    outline: none;
}

.containerFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    z-index: 1;
}
.footerLeftButton {
    position: relative;
    color: var(--bg-color);
    left: 0;
    width: 50%;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: .5px; */

}
.footerLeftButton > a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.footerLeftButton > img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.footerRightButton {
    position: relative;
    color: var(--bg-color);
    right: 0;
    width: 50%;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 5px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: .5px; */
}
.footerRightButton > a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.footerRightButton > img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
.buttonHover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    /* view text container*/

.containerHeader {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}
.containerClose {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-left: auto;
}
.containerClose:focus,
.containerClose:hover {
    cursor: pointer;
}
#viewTextText {

    overflow-y: scroll;
}
#viewTextDescription {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    top: 70px;
    height: auto;
    overflow: scroll;
    padding: 5px;
    margin: 5px;
}
#viewTextDescriptionP {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 3px;
    height: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    overflow: scroll;
}

#uploadProgressList {
    position: relative;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 70px;
    height: auto;
}

#progressStyle {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.settingsContent {
    margin-top: 55px;
    margin-bottom: 60px;
    padding: 10px;
    display: block;
}

.settingsPart {
    margin: 20px;
}

.titleSettings {
    color: var(--primary-color);
    font-weight: bold;
}

.nameInput {
    margin: 10px;
    width: 50%;
    display: block;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: 10px;
    font-size: 20px;
    outline: none;
}
.nameInput:focus {
    outline: none;

}

.colors {
    margin: 10px;
    display: block;
}

.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px var(--bg-color) solid;
    cursor: pointer;
}

.labelSettings {
    color: var(--primary-color);
    width: 80%;
    margin: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.labelSettings input {
  opacity: 0;
  width: 0px;
  height: 0px;
  cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.labelSettings input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.uploadProgressButton {
    width: 100%;
}


@media (max-width: 500px) {
    .containerHeader {
        padding: 10px;
    }
}
